@page
@model IndexModel



@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title>Kalkulator BMI</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <h1>Strona glowna</h1>
    <form method="post">
        <label for="przenies"></label>
        <input name="przenies" type="submit" value="Kliknij"/>
    </form>
</body>
</html>