@page
@model PDdotnet1.Pages.Under18Model

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Masz mniej niż 18 lat</title>
</head>
<body>
    <h1>Witaj użytkowniku</h1>
    Masz mniej niż 18 lat i nie możesz pracować w naszej firmie! Dziękujemy za zgłoszenie oraz odezwiemy się w przyszłości! <br />

</body>
</html>